body {
    background: linear-gradient(35deg, #433da0, #71d0d5);
    margin: 0;
    font-family: "Roboto";
    height: 100vh;
    cursor: default;
}

h1 {
    font-family: "Lobster";
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: -5px;
}

h3 {
    color: #EA9862;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

p {
    width: 15%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container-1 {
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 50px 0;
}

.container-2 {
    background-color: #ffffff;
    color: #2355A2;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 75px 0;
}

.container-3 {
    color: #ffffff;
    padding: 60px 0 60px 0;
}
