body {
    margin: 0;
    font-family: "Roboto";
}

h1 {
    font-family: "Lobster";
    font-size: 5rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: -5px;
}

h3 {
    color: #EA9862;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

p {
    width: 15%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container-1 {
    background-color: #2355A2;
    color: #F2F9EE;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 50px 0;
}

.container-2 {
    background-color: #F2F9EE;
    color: #2355A2;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 75px 0;
}

.container-3 {
    background-color: #2355A2;
    color: #F2F9EE;
    padding: 40px 0 40px 0;
}
